.get_start_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
}

.get_start_section h2 {
  font-size: 48px;
}

.get_start__card_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 48px;
}

.get_start__card {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 32px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  flex: 1;
}
.get_start__card:hover {
  transform: scale(1.05);
}

.get_start__card--partner {
  background-color: var(--background-sections-lightgray);
}

.get_start__card_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.get_start__card_content h3 {
  font-size: 36px;
  font-weight: 600;
}

.get_start__card--user {
  background-color: var(--secondary);
  color: var(--primary);
}

.get_start__card--partner .get_start__link_icon {
  filter: var(--secondary);
}

.get_start__card--user .get_start__link_icon {
  filter: brightness(0) invert(1);
}

.get_start__card_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  gap: 4px;
}

.get_start__card_link:hover {
  gap: 6px;
  transition: 0.3s ease;
}

@media (max-width: 1080px) {
  .get_start_section {
    gap: 48px;
    padding: 56px 32px;
  }

  .get_start_section h2 {
    font-size: 36px;
  }

  .get_start__card_container {
    gap: 32px;
    flex-direction: column;
  }

  .get_start__card_content h3 {
    font-size: 24px;
  }
}
