.footer {
  background-color: var(--secondary);
  color: var(--primary);
  width: 100%;
}

.footer__nav_container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer__nav_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__nav_links {
  display: flex;
  flex-direction: column;
}

.footer__nav_links_item {
  padding: 8px 0px;
}

.container--footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 48px;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__newsletter_header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__newsletter_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__form_content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__form_input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--primary);
}
.footer__form_submit {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-width: 1px 1px 3px 1px;
  background: none;
  padding: 8px 24px;
  border-radius: 6px;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer__form_submit:active {
  border-width: 1px;
  cursor: pointer;
}

.footer__newsletter_form p {
  font-size: 12px;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.footer__bottom_legal_container,
.footer__bottom_legal {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer__bottom_legal {
  font-weight: 600;
}

.footer__bottom_social {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 1080px) {
  .container--footer {
    padding: 56px 32px;
    gap: 32px;
  }

  .footer__nav_container {
    flex-direction: column;
  }

  .footer__nav {
    flex-direction: column;
    gap: 20px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footer__bottom_legal_container {
    flex-direction: column-reverse;
  }

  .footer__bottom_legal {
    flex-direction: column;
    gap: 12px;
  }
}
