.about {
  color: var(--primary);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(90deg, rgba(0, 255, 213, 0.32) 0%, rgba(4, 121, 255, 0.32) 100%);
}

.container--about {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 80px;
  padding: 56px 64px;
}

.about h2 {
  font-size: 48px;
  width: 768px;
  text-align: center;
}

.about__container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.about__item p:first-of-type {
  font-weight: 600;
  font-size: 24px;
}

.about__item img {
  margin-bottom: 16px;
}

@media (max-width: 1080px) {
  .container--about {
    gap: 48px;
    padding: 56px 32px;
  }

  .about__container {
    gap: 32px;
    flex-direction: column;
  }

  .about h2 {
    font-size: 36px;
    width: 100%;
  }

  .about__item {
    align-items: center;
  }

  .about__item img {
    margin-bottom: 8px;
    height: 2px;
  }

  .about__item p {
    text-align: center;
  }
}
