.about {
  position: relative;
  /* FIRST & SECOND VERSION  */
  /* color: var(--primary); */
  /* THIRD VERSION */
  color: var(--secondary);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: url("/intro_bg.png"); */
  background: url("/intro_bg_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* FIRST & SECOND VERSION */
  /* filter: blur(2px); */
  /* THIRD VERSION */
  filter: blur(3px);
  opacity: 0.85;
  transform: scale(1.05);
  z-index: 0;
}

.about::after {
  content: "";
  position: absolute;
  inset: 0;
  /* FIRST VERSION */
  /* background: var(--secondary);
  opacity: 0.85; */
  /* SECOND VERSION */
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(90deg, rgba(0, 255, 213, 0.64) 0%, rgba(4, 121, 255, 0.64) 100%); */
  /* THIRD VERSION */
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  z-index: 1;
}

.about > * {
  position: relative;
  z-index: 2;
}

.container--about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 80px;
  padding: 89px 64px;
  height: 70vh;
}

.about h2 {
  font-size: 48px;
  width: 768px;
  text-align: center;
}

.about__container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.about__item p:first-of-type {
  font-weight: 600;
  font-size: 24px;
  /* color: var(--secondaryGreen); */
  /* FIRST & SECOND VERSION */
  /* color: var(--primary); */
  /* THIRD VERSION */
  color: var(--secondary);
}

.about__item img {
  margin-bottom: 16px;
}

@media (max-width: 1080px) {
  .container--about {
    gap: 48px;
    padding: 56px 32px;
  }

  .about__container {
    gap: 32px;
    flex-direction: column;
  }

  .about h2 {
    font-size: 36px;
    width: 100%;
  }

  .about__item {
    align-items: center;
  }

  .about__item img {
    margin-bottom: 8px;
    height: 2px;
  }

  .about__item p {
    text-align: center;
  }
}
