.page {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-items: flex-start;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-figtree), sans-serif;
  margin: 0 auto;
}

.header {
  width: 100%;
}

/* hamburger button */
.nav__toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav__toggle span {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--secondary);
  border-radius: 2px;
}

.container--header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 64px 0 64px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav__item {
  position: relative;
  text-decoration: none;
  color: var(--secondary);
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--secondary);
  transition: width 0.5s ease;
}

.nav__item:hover::after {
  width: 100%;
}

.nav__buttons,
.intro__buttons,
.download__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.nav__button,
.intro__button {
  padding: 8px 20px;
  border-radius: var(--border-radius-btn-primary);
}

.nav__button--filled,
.intro__button--filled {
  background-color: var(--secondary);
  color: var(--primary);
  transition: 0.3s ease;
}

.nav__button--filled:hover,
.intro__button--filled:hover {
  color: var(--primary);
  opacity: 0.9;
}

.nav__button--ghost,
.intro__button--ghost {
  font-weight: 600;
  border: 1px solid var(--primary);
  transition: opacity 0.3s ease;
}

.nav__button--ghost:hover,
.intro__button--ghost:hover {
  opacity: 0.8;
}

.intro {
  background-color: var(--primary);
}

.container--intro {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 56px;
  padding-left: 64px;
  padding-right: 64px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  gap: 48px;
}

.intro__heading_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__heading_container h1 {
  font-size: 56px;
}

.intro__heading_container .outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-weight: 600;
}

.intro__image,
.create__image,
.observe__image,
.follow__image {
  flex: 1 1 400px;
}

.about {
  background-color: var(--primary);
}

.container--about {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 80px;
  padding: 56px 64px;
}

.about h2,
.download__content h2 {
  font-size: 48px;
  width: 768px;
  text-align: center;
}

.about__container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

.item__text_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item__text_container p:first-of-type {
  font-weight: 600;
}

.create_section {
  background-color: var(--background-sections-lightgray);
}

.container--create,
.container--observe,
.container--follow {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 48px;
}

.create_section .tagline,
.observe_section .tagline,
.follow_section .tagline {
  font-weight: 200;
  font-size: 18px;
}

.create__content,
.observe__content,
.follow__content {
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
}

.create__container,
.observe__container,
.follow__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  justify-content: center;
  gap: 32px;
}

.intro__image,
.create__image,
.observe__image,
.follow__image {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.intro__image:hover,
.create__image:hover,
.observe__image:hover,
.follow__image:hover {
  transform: scale(1.05);
}

.create__container h2,
.observe__container h2,
.follow__container h2,
.download__content h2,
.faq__heading h2,
.get_start_section h2,
.contact__header h2 {
  font-size: 48px;
}

.observe_section {
  background-color: var(--background-sections-darkgray);
}

.follow_section {
  background-color: var(--background-sections-lightgray);
}

.download_section {
  background-color: var(--primary);
}

.container--download {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 80px;
}

.download__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 32px;
}

.qr__image {
  max-width: 450px;
  width: 100%;
}

.nav__button,
.intro__button {
  padding: 8px 20px;
  border-radius: var(--border-radius-btn-primary);
}
.download__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border-radius: 10px;
  gap: 8px;
}

.download__button--filled {
  background-color: var(--secondary);
  color: var(--primary);
}

.download__button--ghost {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.download__button--text {
  display: flex;
  flex-direction: column;
}

.download__button--text span:nth-child(2) {
  font-weight: 600;
}

.download__button {
  transition: 0.3s ease;
}

.download__button:hover {
  opacity: 0.9;
}

.faq_section,
.get_start_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
}

.faq__heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.faq__rows_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
}

.faq__row {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.faq__row_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.faq__row_item h5 {
  font-size: 18px;
  font-weight: 600;
}

.faq__row_item h5,
.faq__row_item p {
  text-align: center;
}

.get_start__card_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 48px;
}

.get_start__card {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 32px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  flex: 1;
}

.get_start__card:hover {
  transform: scale(1.05);
}

.get_start__card--partner {
  background-color: var(--background-sections-lightgray);
}

.get_start__card--user {
  background-color: var(--secondary);
  color: var(--primary);
}

.get_start__card--partner .get_start__link_icon {
  filter: var(--secondary);
}

.get_start__card--user .get_start__link_icon {
  filter: brightness(0) invert(1);
}

.get_start__card_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.get_start__card_content h3 {
  font-size: 36px;
  font-weight: 600;
}

.get_start__card_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  gap: 4px;
}

.get_start__card_link:hover {
  gap: 6px;
  transition: 0.3s ease;
}

.contact_section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
}

.contact__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.contact__header p {
  margin-top: 8px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 500px;
}

.contact__info_item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.contact__item_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  background-color: var(--secondary);
  color: var(--primary);
  width: 100%;
}

.footer__nav_container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer__nav_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__nav_links {
  display: flex;
  flex-direction: column;
}

.footer__nav_links_item {
  padding: 8px 0px;
}

.container--footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 48px;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__newsletter_header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__newsletter_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__form_content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__form_input {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--primary);
}
.footer__form_submit {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-width: 1px 1px 3px 1px;
  background: none;
  padding: 8px 24px;
  border-radius: 6px;
  color: white;
  transition: all 0.3s ease;
}

.footer__form_submit:active {
  border-width: 1px;
  cursor: pointer;
}

.footer__newsletter_form p {
  font-size: 12px;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.footer__bottom_legal_container,
.footer__bottom_legal {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer__bottom_legal {
  font-weight: 600;
}

.footer__bottom_social {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* When dark scheme */
@media (prefers-color-scheme: dark) {
}

@media (max-width: 1080px) {
  .container--intro {
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 56px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .container--header {
    padding: 32px 32px 56px 32px;
  }

  .intro__content {
    gap: 32px;
  }

  .container--about {
    gap: 40px;
    padding: 56px 32px;
  }

  .about__container {
    gap: 32px;
    flex-direction: column;
  }

  .container--create,
  .container--observe,
  .container--follow {
    padding: 56px 32px;
    gap: 48px;
  }

  .page {
    gap: 0px;
  }

  .intro__heading_container h1 {
    font-size: 48px;
  }

  .nav__buttons,
.intro__buttons,
.download__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
  .about h2,
  .download__content h2 {
    font-size: 36px;
    width: 100%;
  }

  .create__container h2,
  .observe__container h2,
  .follow__container h2,
  .download__content h2,
  .faq__heading h2,
  .get_start_section h2,
  .contact__header h2 {
    font-size: 36px;
  }

  .create__content,
  .observe__content,
  .follow__content {
    gap: 40px;
  }

  .container--download {
    gap: 40px;
    padding: 56px 32px;
  }

  .faq_section,
  .get_start_section {
    gap: 40px;
    padding: 56px 32px;
  }

  .get_start__card_container {
    gap: 32px;
    flex-direction: column;
  }

  .get_start__card_content h3 {
    font-size: 24px;
  }

  .contact_section {
    gap: 40px;
    padding: 56px 32px;
    flex-direction: column;
  }

  .contact__info {
    width: 100%
  }

  .container--footer {
    padding: 56px 32px;
    gap: 32px;
  }

  .nav {
    top: 0;
    left: 0;
    padding: 32px;
    flex-direction: row;
    position: fixed;
    background-color: var(--primary);
    width: 100%;
  }

  .nav__container {
    justify-content: space-between;
    width: 100%;
  }

  .nav__buttons {
    display: none;
  }

  .nav__list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--primary);
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    z-index: 1000;
    box-shadow: -5px 5px 5px rgb(216, 216, 216);
  }

  .nav__list--open {
    display: flex;
  }

  .nav__buttons {
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .nav__toggle {
    display: flex;
  }

  .footer__nav {
    flex-direction: column;
    gap: 20px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 20px;
  }

  .footer__bottom_legal {
    flex-direction: column;
    gap: 12px;
  }
}
