.page {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-items: flex-start;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-figtree), sans-serif;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro__buttons,
.download__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.intro__button {
  padding: 8px 20px;
  border-radius: var(--border-radius-btn-primary);
}

.intro__button--filled {
  background-color: var(--secondary);
  color: var(--primary);
  transition: 0.3s ease;
}

.intro__button--filled:hover {
  color: var(--primary);
  opacity: 0.9;
}

.intro__button--ghost {
  font-weight: 600;
  border: 1px solid var(--primary);
  transition: opacity 0.3s ease;
}

.intro__button--ghost:hover {
  opacity: 0.8;
}

.intro {
  background-color: var(--primary);
}

.container--intro {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 56px;
  padding-left: 64px;
  padding-right: 64px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  gap: 48px;
}

.intro__heading_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__heading_container h1 {
  font-size: 56px;
}

.intro__heading_container .outlined-text {
  /* -webkit-text-stroke: 1px black; */
  font-weight: 600;
  position: relative;
  display: inline-block;
  color: transparent;
  background: linear-gradient(90deg, #00ffd5, #0479ff);
  -webkit-background-clip: text;
  background-clip: text;
  animation: pulseFill 2.5s ease-in-out infinite;
}

@keyframes pulseFill {
  0% {
    background-size: 100% 100%;
    background-position: 0% 50%;
    opacity: 1;
  }
  50% {
    background-size: 130% 130%;
    background-position: 100% 50%;
    opacity: 0.4;
  }
  100% {
    background-size: 100% 100%;
    background-position: 0% 50%;
    opacity: 1;
  }
}

.intro__image,
.create__image,
.observe__image,
.follow__image {
  flex: 1 1 400px;
}

.create__image,
.follow__image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.about {
  background-color: var(--primary);
}

.container--about {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 80px;
  padding: 56px 64px;
}

.about h2,
.download__content h2 {
  font-size: 48px;
  width: 768px;
  text-align: center;
}

.about__container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

.item__text_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item__text_container p:first-of-type {
  font-weight: 600;
}

.create_section {
  background-color: var(--background-sections-lightgray);
}

.container--create,
.container--observe,
.container--follow {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 48px;
}

.create_section .tagline,
.observe_section .tagline,
.follow_section .tagline {
  font-weight: 200;
  font-size: 18px;
}

.create_section .section_tag,
.observe_section .section_tag,
.follow_section .section_tag {
  font-weight: 600;
}

.create__content,
.observe__content,
.follow__content {
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
}

.create__container,
.observe__container,
.follow__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  justify-content: center;
  gap: 20px;
}

.intro__image,
.create__image,
.observe__image,
.follow__image {
  /* cursor: pointer; */
  transition: transform 0.3s ease;
}

.intro__image:hover,
.create__image:hover,
.observe__image:hover,
.follow__image:hover {
  transform: scale(1.05);
}

.create__container h2,
.observe__container h2,
.follow__container h2,
.download__content h2,
.faq__heading h2,
.get_start_section h2,
.contact__header h2 {
  font-size: 48px;
}

.observe_section {
  background-color: var(--background-sections-darkgray);
}

.follow_section {
  background-color: var(--background-sections-lightgray);
}

.download_section {
  color: var(--primary);
  padding: 56px 64px;
}

.container--download {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 80px;
  border-radius: 40px;
}

.download__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.qr__image {
  max-width: 250px;
  width: 100%;
}

.intro__button {
  padding: 8px 20px;
  border-radius: var(--border-radius-btn-primary);
}
.download__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border-radius: 10px;
  gap: 8px;
}

.download__button--filled {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.download__button--ghost {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
}

.download__button--text {
  display: flex;
  flex-direction: column;
}

.download__button--text span:nth-child(2) {
  font-weight: 600;
}

.download__button {
  transition: 0.3s ease;
}

.download__button:hover {
  opacity: 0.9;
}

.faq_section,
.get_start_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
}

.faq__heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.faq__rows_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
}

.faq__row {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.faq__row_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.faq__row_item h5 {
  font-size: 18px;
  font-weight: 600;
}

.faq__row_item h5,
.faq__row_item p {
  text-align: center;
}

.get_start__card_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 48px;
}

.get_start__card {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 32px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  flex: 1;
}

.get_start__card:hover {
  transform: scale(1.05);
}

.get_start__card--partner {
  background-color: var(--background-sections-lightgray);
}

.get_start__card--user {
  background-color: var(--secondary);
  color: var(--primary);
}

.get_start__card--partner .get_start__link_icon {
  filter: var(--secondary);
}

.get_start__card--user .get_start__link_icon {
  filter: brightness(0) invert(1);
}

.get_start__card_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.get_start__card_content h3 {
  font-size: 36px;
  font-weight: 600;
}

.get_start__card_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  gap: 4px;
}

.get_start__card_link:hover {
  gap: 6px;
  transition: 0.3s ease;
}

.contact_section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
}

.contact__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.contact__header p {
  margin-top: 8px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 500px;
}

.contact__info_item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.contact__item_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* When dark scheme */
@media (prefers-color-scheme: dark) {
}

@media (max-width: 1080px) {
  .intro__buttons,
  .download__buttons {
    justify-content: center;
  }

  .download__buttons {
    flex-direction: column;
  }

  .download_section {
    padding: 56px 32px;
  }

  .container--download {
    border-radius: 20px;
  }

  .intro__button--filled,
  .intro__button--ghost {
    width: 126px;
    text-align: center;
  }

  .intro__button--ghost {
    box-shadow: 0px 2px 2px rgb(216, 216, 216);
  }

  .intro__image:hover,
  .create__image:hover,
  .observe__image:hover,
  .follow__image:hover {
    transform: unset;
  }

  .container--intro {
    gap: 48px;
    padding-top: 40px;
    padding-bottom: 56px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .intro__heading_container h1 {
    font-size: 40px;
  }

  .intro__content {
    gap: 24px;
  }

  .container--about {
    gap: 48px;
    padding: 56px 32px;
  }

  .about__container {
    gap: 32px;
    flex-direction: column;
  }

  .about h2,
  .download__content h2 {
    font-size: 36px;
    width: 100%;
  }

  .about__item {
    gap: 20px;
  }

  .container--create,
  .container--observe,
  .container--follow {
    padding: 56px 32px;
    gap: 32px;
  }

  .page {
    gap: 0px;
  }

  .create__content,
  .follow__content {
    flex-direction: column-reverse;
  }

  .follow__content .follow__image,
  .follow__content .follow__container {
    flex: unset;
  }

  .create_section .tagline,
  .observe_section .tagline,
  .follow_section .tagline {
    font-size: 16px;
  }

  .create__content .create__image,
  .create__content .create__container {
    flex: unset;
  }

  .faq__heading {
    gap: 20px;
  }

  .create__container h2,
  .observe__container h2,
  .follow__container h2,
  .download__content h2,
  .faq__heading h2,
  .get_start_section h2,
  .contact__header h2 {
    font-size: 36px;
  }

  .faq__row {
    flex-direction: column;
  }

  .faq__heading p {
    text-align: center;
  }

  .create__content,
  .observe__content,
  .follow__content {
    gap: 48px;
  }

  .container--download {
    gap: 48px;
    padding: 56px 32px;
  }

  .faq_section,
  .get_start_section {
    gap: 48px;
    padding: 56px 32px;
  }

  .get_start__card_container {
    gap: 32px;
    flex-direction: column;
  }

  .get_start__card_content h3 {
    font-size: 24px;
  }

  .contact_section {
    gap: 48px;
    padding: 56px 32px;
    flex-direction: column;
  }

  .contact__header {
    gap: 20px;
  }

  .contact__info {
    min-width: 100%;
  }
}
