.page {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-items: flex-start;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-figtree), sans-serif;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.container--header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 64px 0 64px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav__item {
  position: relative;
  text-decoration: none;
  color: var(--secondary);
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--secondary);
  transition: width 0.5s ease;
}

.nav__item:hover::after {
  width: 100%;
}

.nav__buttons,
.intro__buttons,
.download__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.nav__button,
.intro__button {
  padding: 8px 20px;
  border-radius: var(--border-radius-btn-primary);
}

.nav__button--filled,
.intro__button--filled {
  background-color: var(--secondary);
  color: var(--primary);
  transition: 0.3s ease;
}

.nav__button--filled:hover,
.intro__button--filled:hover {
  color: var(--primary);
  opacity: 0.9;
}

.nav__button--ghost,
.intro__button--ghost {
  font-weight: 600;
  border: 1px solid var(--primary);
  transition: opacity 0.3s ease;
}

.nav__button--ghost:hover,
.intro__button--ghost:hover {
  opacity: 0.8;
}

.intro {
  background-color: var(--primary);
}

.container--intro {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 56px;
  padding-left: 64px;
  padding-right: 64px;
}

.intro__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  gap: 48px;
}

.intro__heading_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__heading_container h1 {
  font-size: 56px;
}

.intro__heading_container .outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-weight: 600;
}

.intro__image,
.create__image,
.observe__image,
.follow__image {
  flex: 1 1 400px;
}

.about {
  background-color: var(--primary);
}

.container--about {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 80px;
  padding: 56px 64px;
}

.about h2,
.download__content h2 {
  font-size: 48px;
  width: 768px;
  text-align: center;
}

.about__container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item__text_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item__text_container p:first-of-type {
  font-weight: 600;
}

.create_section {
  background-color: var(--background-sections-lightgray);
}

.container--create,
.container--observe,
.container--follow {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 48px;
}

.create_section .tagline,
.observe_section .tagline,
.follow_section .tagline {
  font-weight: 200;
  font-size: 18px;
}

.create__content,
.observe__content,
.follow__content {
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
}

.create__container,
.observe__container,
.follow__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  justify-content: center;
  gap: 32px;
}

.intro__image,
.create__image,
.observe__image,
.follow__image {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.intro__image:hover,
.create__image:hover,
.observe__image:hover,
.follow__image:hover {
  transform: scale(1.05);
}

.create__container h2,
.observe__container h2,
.follow__container h2,
.download__content h2 {
  font-size: 48px;
}

.observe_section {
  background-color: var(--background-sections-darkgray);
}

.follow_section {
  background-color: var(--background-sections-lightgray);
}

.download_section {
  background-color: var(--primary);
}

.container--download {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 64px;
  gap: 80px;
}

.download__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 32px;
}

.qr__image {
  max-width: 450px;
  width: 100%;
}

.nav__button,
.intro__button {
  padding: 8px 20px;
  border-radius: var(--border-radius-btn-primary);
}
.download__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border-radius: 10px;
  gap: 8px;
}

.download__button--filled {
  background-color: var(--secondary);
  color: var(--primary);
}

.download__button--ghost {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.download__button--text {
  display: flex;
  flex-direction: column;
}

.download__button--text span:nth-child(2) {
  font-weight: 600;
}

.download__button {
  transition: 0.3s ease;
}

.download__button:hover {
  opacity: 0.9;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
